.vscode/
.idea/
node_modules/
dist/
.env
sdk.js
/web_flask/config.py
/web_flask/views/git-link-d9cc9-firebase-adminsdk-o2gwi-821d140e51.json
/web_flask/views/__pycache__
web_flask/__pycache__/
get-pip.py
