*   {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

h1, h3, .footer   {
  text-align: center;
  font-size: 20px;
}

h3  {
  color: var(--primary-dark);
  font-size: 40px;
}

.paw-print  img{
  animation: bounce 0.9s infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

.shadow {
  animation: shrink 0.9s infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;  
  height: 10px;
  width: 250px;
  border-radius: 50%;
  background-color: var(--accent-color-translucent);
  margin-bottom: 20px;
  z-index: -1;
}

@keyframes shrink {
  50%{
    transform: scaleX(0.5)
  }
}


@media only screen and (max-width: 750px) {
  h1   {
    font-size: 40px;
    font-weight: 350;
  }

  h3  {
    font-size: 35px;
    font-weight: 300;
  } 

  .paw  {
    margin-top: 30px;
    height: 50vh;
    margin-bottom: 30px;
  }

  .paw img  {
    width: 200px;
  }

  @keyframes bounce {
    10%{
      height: 200px;
      width: 200px;
    }
    30%{
      height: 200px;
      width: 160px;
    }
    50%{
      height: 120px;
      width: 228px;
      transform: translateY(30vh);
    }
    75%{
      height: 200px;
      width: 228px;
    }
    100%{
      transform: translateY(0px);
    }
  }
  
  .footer   {
    position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     padding-bottom: 15px;
  }
  
  #back   {
    margin: 5px;
  }

  #back img  {
    width: 55px;
  }
}

@media only screen and (min-width: 751px) {
  h1  {
    font-size: 50px;
  }

  .paw  {
    margin-bottom: 20px;
    height: 55vh;
  }

  .paw img  {
    width: 250px;
  }

  @keyframes bounce {
    10%{
      height: 250px;
      width: 250px;
    }
    30%{
      height: 250px;
      width: 200px;
    }
    50%{
      height: 150px;
      width: 285px;
      transform: translateY(30vh);
    }
    75%{
      height: 250px;
      width: 285px;
    }
    100%{
      transform: translateY(0px);
    }
  }

  .footer   {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
  }

  #back   {
    margin-left: 10px;
  }
}
