:root   {
  --primary-color: #415A77;
  --secondary-color: #778DA9;
  --primary-dark: #0D1B2A;
  --secondary-dark: #1B263B;
  --accent-color: #173351;
  --primary-text-color: #e3ecef;
  --accent-color-translucent: #173351ee;
  --primary-text-color-translucent: #E0E1DD62;
  --primary-color-translucent: #415a779f;
}
