*   {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-dark);
  color: var(--primary-text-color);
}

img {
  margin-top: 50px;
  width: 450px;
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1  {
  text-align: center;
  font-size: 350%;
}
h3  {
  text-align: center;
  font-size: 150%;
  font-style: italic;
  font-weight: 100;
}

img {
  opacity: 0;
  animation: fadeInAnimation 3s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}

h1, h3 {
  opacity: 0; 
  position: relative;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%); 
    opacity: 0; 
  }
  to {
    transform: translateX(0); 
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%); 
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

h1 {
  animation: slideInLeft 2s ease-in-out forwards; 
}

h3 {
  animation: slideInRight 2s ease-in-out forwards;
}

