body   {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-text-color);
  height: 100vh;
  background-color: var(--secondary-dark);
}

.wrapper  {
  padding: 5px;
  margin: auto;
  width: 100%;
}

@media (max-width: 1000px) {
  .columns  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }

  #col-1 {
    height: fit-content;
    margin-bottom: 5px;
  }

  #col-2 {
    height: 75vh;
    background-color: var(--secondary-color);
  }

  #back {
    position: fixed;
    left: 5px;
    top: 5px;
    width: 50px;
    height: auto;
  }

  #username {
    text-align: end;
    margin: 10px 10px 0 0;
  }

  #email {
    text-align: end;
    margin: 10px 10px 0 0;
    font-weight: 200;
    font-size: medium;
  }
  div .scroll {
    overflow-y: scroll;
    height: 65vh;
  }
  #col-2 h1  {
    color: var(--secondary-dark);
    margin: 15px 0;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
  }
  #col-3 .card-footer {
    position: fixed;
    right: 15px;
    bottom: 5px;
    width: 20%;
    border: none;
  }
  #col-3 h1  {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
  }
}

@media (min-width: 1001px) {
  .columns  {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
  }
  #col-3, #col-1 {
    width: 25%;
  }
  #col-2 {
    background-color: var(--secondary-color);
    width: 50%;
  }

  #back {
    position: fixed;
    left: 20px;
    top: 10px;
  }

  #username {
    text-align: center;
    margin-top: 150px;
  }

  #email {
    text-align: center;
    margin-top: 50px;
    font-weight: 200;
    font-size: large;
  }

  div .scroll {
    overflow-y: scroll;
    height: 77vh;
  }
  #col-2 h1  {
    color: var(--secondary-dark);
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
  }
  #col-3 .card-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 25%;
    padding-bottom: 15px;
    border: none;
  }
  #col-3 h1  {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
  }
}












.card {
  background-color: var(--primary-color);
  padding: 15px;
  margin: 40px;
}

#more-info  {
  position: relative;
  width: 100%;
}

.card img {
  width: 30px;
}

#link {
  position: absolute;
  right: 50px;
}

#col-3 {
  text-align: center;
  cursor: pointer;
}

#col-3 a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 40px;
  font-weight: 300;
}

#col-3 img {
  margin-left: 20px;
}

#social-share {
  width: 0;
  position: fixed;
  z-index: 1;  
  background: var(--accent-color);
  overflow-x: hidden;
  transition: 0.5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cls-share:hover {
  cursor: pointer;
}

#share-btns i {
  font-size: 70px;
  margin: 20px;
  }

  .facebook {
  color: #3b5998;
  }
  .twitter {
  color: #000000;
  }
  .linkedin {
  color: #0077b5;
  }
  .reddit {
  color: #cb2027;
  }
  .whatsapp {
  color: #25D366;
  }
  .telegram {
  color: #229ED9;
  }
  .facebook, .twitter, .linkedin, .reddit, .whatsapp, .telegram {
  opacity: 0.8;
  }
  .facebook:hover, .twitter:hover, .linkedin:hover, .reddit:hover, .whatsapp:hover, .telegram:hover {
  opacity: 1;
  }

