body   {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-text-color);
  color: var(--primary-color);
}

.wrapper  {
  padding: 5px;
  margin: 15px auto;
  width: 95%;
}

.columns  {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 90vh;
}

#column-1 {
  width: 30%;
}

#open-menu {
  width: 35px;
}

.side-bar {
  height: 100vh;
  max-height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: var(--accent-color-translucent);
  overflow-x: hidden;
  transition: 0.5s;
}

.side-bar #close-menu {
  width: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.side-bar .card {
  background-color: var(--secondary-dark);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 150px;
}

.side-bar h1, .side-bar h2 {
  color: var(--primary-text-color);
  text-align: center;
  margin-top: 60px;
  font-weight: 300;
}

a  {
  text-decoration: none;
}

.side-bar h2:hover {
  color: green;
  font-weight: 400px;
}

#ppic {
  width: 250px;
  margin-top: 20px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#bio  {
  font-weight: 400;
}

#repos  {
  font-weight: 300;
}

#follower img {
  width: 30px;
  margin-right: 5px;
  padding-bottom: 15px;
}

#followers, #following {
  font-size: 18px;
  font-weight: 200;
}

#location {
  font-weight: 400;
}

#location img {
  width: 30px;
  padding-bottom: 10px;
}

button  {
  margin-top: 60px;
  border: none;
  background-color: var(--primary-dark);
  color: var(--primary-text-color);
  width: 300px;
  border-radius: 7px;
  padding: 10px 15px;
  font-size: smaller;
  font-weight: 300;
}

#column-2 {
  width: 67.5%;
  margin-left: 2.5%;
}

#column-2 .search {
  width: 100%;
}

#column-2 input {
  margin: 2.5%;
  height: 50px;
  border: none;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--secondary-color);
  border-radius: 15px;
  width: 80%;
}

#column-2 ::placeholder {
  color: var(--primary-text-color-translucent);
  font-size: 20px;
  font-weight: 300;
}

.search #search {
  width: 50px;
}

#column-2 h1  {
  margin: 35px;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  color: var(--secondary-dark);
}

div .scroll {
  overflow-y: scroll; 
  height:60vh;
}

#repos  {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#repos .card {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  width: 97.2%;
  margin: 2.5%;
  padding: 10px;
  border-radius: 10px;
  border: 1px var(--primary-dark) solid;
}

#more-info  {
  position: relative;
  width: 100%;
}

#more-info img {
  width: 20px;
  margin-right: 5px;
  padding-bottom: 7px;
}

#stars  {
  position: absolute;
  right: 50px;
}

#add-repo  {
  width: 100%;
  text-align: end;
}

#add-repo img {
  width: 40px;
  margin-right: 5px;
}

.card-footer  {
  text-align: center;
  border: none;
  background-color: var(--primary-text-color);
}

.card-footer #github-link {
  text-decoration: none;
  color: var(--accent-color);
}
