body   {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-text-color);
  color: var(--primary-color);
  height: 100vh;
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}

.wrapper  {
  padding: 5px;
  margin: 15px;
  width: 95%;
}

.columns  {
  height: 90vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow-y: scroll;
}


@media only screen and (max-width: 750px) {
  .search {
    width: 100%;
    margin-bottom: 20px;
  }

  .search input {
    margin-left:15%;
    margin-right: 15px;
    height: 35px;
    border: none;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
    width: 70%;
  }
  
  .search ::placeholder {
    color: var(--primary-text-color-translucent);
    font-size: 15px;
    font-weight: 300;
  }
  
  .search #search {
    width: 35px;
  }

  #column-1 {
    width: 100%;
  }
    
  #ppic {
    width: 150px;
    border-radius: 50%;
  }

  .user-info {
    position: relative;
    margin-bottom: 20px;
  }

  .more-user-info  {
    position: absolute;
    width: 60%;
    height: fit-content;
    right: 30px;
    top: 0px;
  }

  #username {
    font-size: 20px;
  }

  #bio  {
    height: fit-content;
    font-size: 17px;
    font-weight: 400;
  }

  #user-repos  {
    font-size: 15px;
    font-weight: 300;
  }

  #location {
    font-size: 15px;
    font-weight: 400;
  }
  
  #location img {
    width: 25px;
    padding-bottom: 5px;
  }
  
  #follower img {
    width: 25px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  
  #followers, #following {
    font-size: 15px;
    font-weight: 200;
    margin-top: 20px;
  }
  
  button  {
    border: none;
    background-color: var(--primary-dark);
    color: var(--primary-text-color);
    width: 100%;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: smaller;
    font-weight: 300;
  }

  #column-2 {
    width: 100%;
  }
  
  #column-2 h1  {
    margin-top: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    color: var(--secondary-dark);
  }
  
  .grid-container  {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
  }
  
  .grid-container .card {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px var(--primary-dark) solid;
    margin-bottom: 15px;
    margin-left: 5%;
  }

  .grid-container .card-body {
    width: 100%;
  }

  .grid-container .card-footer {
    background-color: #364c64;
  }

  .grid-container .card #more-info  {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #repo-name  {
    font-size: 18px;
  }

  #description  {
    font-size: 15px;
  }
    
  #more-info img {
    width: 20px;
    margin-right: 5px;
    padding-bottom: 7px;
  }
  
  #more-info {
    width: 100%;
    position: relative;
  }

  #stars  {
    position: absolute;
    right: 20px;
  }
  
  #share-repo {
    width: 100%;
    text-align: end;
  }
  
  #share-repo img {
    width: 20px;
    margin-right: 5px;
  }
}

@media only screen and (min-width: 751px) and (max-width: 900px) {
  .search {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .search input {
    margin-left:15%;
    margin-right: 15px;
    height: 35px;
    border: none;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
    width: 75%;
  }
  
  .search ::placeholder {
    color: var(--primary-text-color-translucent);
    font-size: 18px;
    font-weight: 300;
  }
  
  .search #search {
    width: 40px;
  }
  
  #column-1 {
    width: 30%;
  }
  
  #ppic {
    width: 220px;
    margin-top: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  #username {
    font-size: 27px;
    font-weight: 400;
  }
  
  #bio  {
    font-size: 25px;
    font-weight: 300;
  }
    
  #follower img {
    width: 25px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  
  #followers, #following {
    font-size: 18px;
    font-weight: 200;
  }
  
  #location {
    font-weight: 300;
  }
  
  #location img {
    width: 25px;
    padding-bottom: 5px;
  }
  
  button  {
    margin-top: 50px;
    margin-bottom: 100px;
    border: none;
    background-color: var(--primary-dark);
    color: var(--primary-text-color);
    width: 300px;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: smaller;
    font-weight: 300;
  }

  #column-2 {
    width: 60%;
    margin-left: 10%;
  }
  
  #column-2 h1  {
    margin: 35px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    color: var(--secondary-dark);
  }
    
  .grid-container  {
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
  }
  
  .grid-container .card {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    margin-left: 7%;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px var(--primary-dark) solid;
  }


  .grid-container .card-body {
    width: 100%;
  }

  .grid-container .card-footer {
    background-color: #364c64;
  }

  .grid-container .card #more-info  {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #more-info  {
    position: relative;
    width: 100%;
  }
  
  #more-info img {
    width: 20px;
    margin-right: 5px;
    padding-bottom: 7px;
  }
  
  #stars  {
    position: absolute;
    right: 50px;
  }
  
  #share-repo  {
    width: 100%;
    text-align: end;
  }
  
  #share-repo img {
    width: 30px;
    margin-right: 5px;
  }
}

@media only screen and (min-width: 901px) {
  .search {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .search input {
    margin-left:10%;
    margin-right: 35px;
    height: 40px;
    border: none;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
    width: 80%;
  }
  
  .search ::placeholder {
    color: var(--primary-text-color-translucent);
    font-size: 20px;
    font-weight: 300;
  }
  
  .search #search {
    width: 40px;
  }
  
  #column-1 {
    width: 30%;
  }
  
  #ppic {
    width: 250px;
    margin-top: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  #bio  {
    font-weight: 400;
  }
  
  #user-repos  {
    font-weight: 300;
  }
  
  #follower img {
    width: 30px;
    margin-right: 5px;
    padding-bottom: 15px;
  }
  
  #followers, #following {
    font-size: 18px;
    font-weight: 200;
  }
  
  #location {
    font-weight: 400;
  }
  
  #location img {
    width: 30px;
    padding-bottom: 10px;
  }
  
  button  {
    margin-top: 60px;
    margin-bottom: 100px;
    border: none;
    background-color: var(--primary-dark);
    color: var(--primary-text-color);
    width: 300px;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: smaller;
    font-weight: 300;
  }

  #column-2 {
    width: 67.5%;
    margin-left: 2.5%;
  }
  
  #column-2 h1  {
    margin: 35px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    color: var(--secondary-dark);
  }
    
  .grid-container  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  
  .grid-container .card {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    width: 97.2%;
    margin: 2.5%;
    border-radius: 10px;
    border: 1px var(--primary-dark) solid;
  }

  .grid-container .card-body {
    width: 100%;
  }

  .grid-container .card-footer {
    background-color: #364c64;
  }

  .grid-container .card #more-info  {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  
  #more-info  {
    position: relative;
    width: 100%;
  }
  
  #more-info img {
    width: 20px;
    margin-right: 5px;
    padding-bottom: 7px;
  }
  
  #stars  {
    position: absolute;
    right: 50px;
  }
  
  #share-repo  {
    width: 100%;
    text-align: end;
  }
  
  #share-repo img {
    width: 30px;
    margin-right: 5px;
  }
}


#open-menu {
  width: 35px;
  position: absolute;
  cursor: pointer;
}

.side-bar {
  height: 100vh;
  max-height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: var(--accent-color-translucent);
  overflow-x: hidden;
  transition: 0.5s;
}

.side-bar #close-menu {
  width: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.side-bar .card {
  background-color: var(--secondary-dark);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 150px;
}

.side-bar h1, .side-bar h2 {
  color: var(--primary-text-color);
  text-align: center;
  margin-top: 60px;
  font-weight: 300;
}

#social-share {
  width: 0;
  position: fixed;
  z-index: 1;  
  background: var(--primary-color-translucent);
  overflow-x: hidden;
  transition: 0.5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cls-share:hover {
  cursor: pointer;
}

#share-btns i {
  font-size: 70px;
  margin: 20px;
  }

  .facebook {
  color: #3b5998;
  }
  .twitter {
  color: #000000;
  }
  .linkedin {
  color: #0077b5;
  }
  .reddit {
  color: #cb2027;
  }
  .whatsapp {
  color: #25D366;
  }
  .telegram {
  color: #229ED9;
  }
  .facebook, .twitter, .linkedin, .reddit, .whatsapp, .telegram {
  opacity: 0.8;
  }
  .facebook:hover, .twitter:hover, .linkedin:hover, .reddit:hover, .whatsapp:hover, .telegram:hover {
  opacity: 1;
  }

a  {
  text-decoration: none;
}

.side-bar h2:hover {
  color: green;
  font-weight: 400px;
}

div .scroll {
  overflow-y: scroll;
  height:60vh;
}

#foot  {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  border: none;
  background-color: var(--primary-text-color);
}

.card-footer #card-foot {
  padding: 0;
  margin: 0;
}

.card-footer #github-link {
  text-decoration: none;
  color: var(--accent-color);
}

button a  {
  text-decoration: none;
  color: var(--primary-text-color);
}

#share-repo img:hover{
  cursor: not-allowed;
}

#share-repo button  {
  width: 20%;
  padding: 5px;
  margin: 0;
  cursor: not-allowed;
}

#share  {
  cursor: pointer;
}

