<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500%2C600" />
    <link rel="stylesheet" href="../static/styles/landing-page.css">
    <title>Git-Link</title>
</head>
<body>
    <nav class="navbar">
        <div class="hamburger-menu">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <ul class="nav-links">
          <li><a href="#getting-started">Getting started</a></li>
          <li><a href="#sign-in">Sign in</a></li>
        </ul>
      </nav>
    <div class="container">
        <div class="content-left">
            <div class="icon">
                <img src="../static/images/icon.png" alt="Page Icon" class="icon">
                <h1>Git-Link</h1>
            </div>
         
        </div>
        <div class="content-right">
            <div class="content">
                <h1>Providing real-time GitHub statistics for user accounts</h1>
                    <br>
                <p>
                    Welcome to Git-Link! Gain instant insights into your GitHub statistics with our intuitive platform.
                    <br>
                    Easily search for GitHub information, connect with your network, and share your achievements with friends.
                    Whether you're a seasoned developer or just getting started, Git-Link offers a seamless experience for tracking your progress and engaging with the GitHub community.
                    
                </p>
                <div class="join-us">
                    <p>Join us today and take control of your coding journey!</p>
                    <button class="get-started">Getting started</button>
                  </div>
            </div>
            <img src="../static/images/user.html.svg" alt="User Activity" class="user-activity">
          
        </div>
      </div>
     
</body>
</html>